*{
    margin: 0px;
    padding: 0px;
}

/* Logo */
#navbar img{
    border-radius: 50px;
}
/* Navigation bar */
.main{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main::before{
    content: "";
    background: url('../Images/Home2.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0.8;
}
#navbar{
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}
#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0.58;
}
/*Left navigation*/
#navbar .nav-left{
    display: flex;
    padding: 3px 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-left li a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
}
.nav-left li a:hover{
    background-color: white;
    color: black;
}
/*Right navigation*/
.nav-right{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-right li img{
    height: 50px;
    width: 60px;
    padding: 8px 15px;
}
.nav-right li img:hover{
    transform: scale(1.1);
}
.navopt{
    display: flex;
    width: 100%;
    justify-content:space-between;
}
/* Home section*/
#home{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 300px;
    padding: 150px 150px 180px 150px;
}
#home h1{
    font-family: Acme;
    color: white;
    font-size: 2.5rem;
    padding: 20px 15px;
}
#home p{
    color: white;
    font-size: 2rem;
    font-style: oblique;
}
 
/* You Tube */
#youtube::before{
    content: "";
    background: url('../Images/youtube3.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -2;

}
#youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 600px;
    padding: 80px 150px 100px 150px;
}
#youtube h1{
    font-family: Acme;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(243, 66, 12);
}
#youtube p{
    color: black;
    font-size: 2rem;
    padding-bottom: 35px;
    font-style: oblique;
}
#youtube a{
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
    color:rgb(26, 11, 238);
    font-size: 1.7rem;
}
#youtube a:hover{
    color: red;
}
/* About Me */
#About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 120px;
    position: relative;
    height: 650px;
}
#About h1{
    font-family: Acme;
    color: rgb(106, 250, 10);
    font-size: 3rem;
    padding: 20px;
}
#About p{ 
    font-size: 2rem;
    font-style: oblique;
    color: rgb(0, 238, 255);
}
#About::before{
    content: "";
    background: url("https://images.wallpaperscraft.com/image/laptop_keyboard_glow_170138_3840x2400.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: -1;

}

.copyright{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}
